{% extends 'master.njk' %}


{% block content %}
  {% include 'partials/preloader.njk' %}

  <!-- main content start -->
  <span class="main-content">
    {% include "partials/navbar.njk" %}

    <!-- content start -->
    <div class="container-fluid p-0 main-content">
      {% include "partials/sections/about.njk" %}
      <hr class="m-0">

      {% include "partials/sections/experiences.njk" %}
      <hr class="m-0">

      {% include "partials/sections/projects.njk" %}
      <hr class="m-0">

      {% include "partials/sections/skills.njk" %}
      <hr class="m-0">

      {# {% include "partials/sections/.njk" %} #}
    </div>
    <!-- content end -->

  </span>
  <!-- main content end -->





  {#
  <div class="gallery">
    <!-- Loops through "images" array -->
    {% for image in images %}
    <div class="gallery__item">
      <img src="{{image.src}}" alt="{{image.alt}}">
    </div>
    {% endfor %}
  </div>
  #}

{% endblock %}
