{% extends 'master.njk' %}


{% block content %}
  {% include 'partials/preloader.njk' %}

  <!-- main content start -->
  <span class="main-content">
    {% include "partials/navbar.njk" %}

    <!-- content start -->
    <div class="container-fluid p-0 main-content">
      {% include "partials/about.njk" %}
      <hr class="m-0">

      {% include "partials/experiences.njk" %}
      <hr class="m-0">

      {% include "partials/projects/projects.njk" %}
      <hr class="m-0">

      {% include "partials/skills.njk" %}
      <hr class="m-0">

      {% include "partials/education.njk" %}
      <hr class="m-0">

      {% include "partials/interests.njk" %}
      <hr class="m-0">

      {% include "partials/awards.njk" %}

      {% include "partials/footer.njk" %}

      {% include "partials/projects/projectInfo.njk" %}
    </div>
    <!-- content end -->

    {% include "partials/scroll_to_top.njk" %}
  </span>
  <!-- main content end -->
{% endblock %}