{#
<div class="gallery">
  <!-- Loops through "images" array -->
  {% for image in images %}
  <div class="gallery__item">
    <img src="{{image.src}}" alt="{{image.alt}}">
  </div>
  {% endfor %}
</div>
#}


      <!-- all project info start -->
    
      <!-- project 1 info start -->
      <div class="project-modal mfp-hide mfp-with-anim" id="project-modal-1">
        <div class="project-modal-dialog bg-white">
  
          <a class="close-button d-none d-md-block project-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
          </a>
  
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
  
                <h2 class="text-uppercase mb-0">e-Voting Platform using Blockchain</h2>
  
                <hr class="mb-2">
  
                <img class="img-fluid mb-5 project-modal-img" src="public/images/project-images/project-1-image.png" alt="">
  
                <p class="mb-3">
                  An Electronic voting platform that uses Blockchain technology which supports distributed network. It provides greater transparency, inherent anonymity and immutability due to open and distributed ledgers. It also delivers security and reliability through image based authentication system.
                </p>
  
                <p class="mb-5">
                  <b class="text-uppercase">Project Link: </b><a class="new-tab-open" href="https://github.com/mahmudul-hasan-sreejon/e-Voting-with-Blockchain" style="text-decoration: none">e-Voting Platform using Blockchain</a>
                  <b class="text-uppercase">Date: </b>October 2017 - December 2017
                </p>
  
                <a class="btn btn-danger rounded-pill project-modal-dismiss" href="#">
                  <i class="fas fa-times"></i>
                  CLOSE
                </a>
  
              </div>
            </div>
          </div>
  
        </div>
      </div>
      <!-- project 1 info end -->
    
      <!-- project 2 info start -->
      <div class="project-modal mfp-hide mfp-with-anim" id="project-modal-2">
        <div class="project-modal-dialog bg-white">
  
          <a class="close-button d-none d-md-block project-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
          </a>
  
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
  
                <h2 class="text-uppercase mb-0">Dig Out</h2>
  
                <hr class="mb-2">
  
                <img class="img-fluid mb-5 project-modal-img" src="public/images/project-images/project-2-image.png" alt="">
  
                <p class="mb-3">
                  An open source web search engine for finding websites and images. It evaluates results of web searches for appropriateness and relevancy as related to search query input. It can analyze keywords to achieve optimum numerical ranking for web searches.
                </p>
  
                <p class="mb-5">
                  <b class="text-uppercase">Project Link: </b><a class="new-tab-open" href="http://dig-out.ml/" style="text-decoration: none">Dig Out</a>
                  <b class="text-uppercase">Date: </b>December 2018 - January 2019
                </p>
  
                <a class="btn btn-danger rounded-pill project-modal-dismiss" href="#">
                  <i class="fas fa-times"></i>
                  CLOSE
                </a>
  
              </div>
            </div>
          </div>
  
        </div>
      </div>
      <!-- project 2 info end -->
  
      <!-- project 3 info start -->
      <div class="project-modal mfp-hide mfp-with-anim" id="project-modal-3">
        <div class="project-modal-dialog bg-white">
  
          <a class="close-button d-none d-md-block project-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
          </a>
  
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
  
                <h2 class="text-uppercase mb-0">Srt-Lnk</h2>
  
                <hr class="mb-2">
  
                <img class="img-fluid mb-5 project-modal-img" src="public/images/project-images/project-3-image.png" alt="">
  
                <p class="mb-3">
                  Link/Url shortener web application that keeps track of links for individual users built on <b>Meteor</b> and <b>React</b>. It provides data security through manual authentication, data validation, publications and subscriptions.
                </p>
  
                <p class="mb-5">
                  <b class="text-uppercase">Project Link: </b><a class="new-tab-open" href="https://srt-lnk-mhs.herokuapp.com/" style="text-decoration: none">Srt-Lnk</a>
                  <b class="text-uppercase">Date: </b>February 2019
                </p>
  
                <a class="btn btn-danger rounded-pill project-modal-dismiss" href="#">
                  <i class="fas fa-times"></i>
                  CLOSE
                </a>
  
              </div>
            </div>
          </div>
  
        </div>
      </div>
      <!-- project 3 info end -->
    
      <!-- project 4 info start -->
      <div class="project-modal mfp-hide mfp-with-anim" id="project-modal-4">
        <div class="project-modal-dialog bg-white">
  
          <a class="close-button d-none d-md-block project-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
          </a>
  
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
  
                <h2 class="text-uppercase mb-0">Forkify</h2>
  
                <hr class="mb-2">
  
                <img class="img-fluid mb-5 project-modal-img" src="public/images/project-images/project-4-image.png" alt="">
  
                <p class="mb-3">
                  Recipe web application for kitchen hobbyists and beginner cooks. Search through thousands of recipes for cooking instructions and ingredients; save your favorite recipes via local storage. It uses <b>RESTful</b> approach for fetching data from the <b>Food2Fork API</b>.
                </p>
  
                <p class="mb-5">
                  <b class="text-uppercase">Project Link: </b><a class="new-tab-open" href="https://forkify-mhs.herokuapp.com" style="text-decoration: none">Forkify</a>
                  <b class="text-uppercase">Date: </b>February 2019 - March 2019
                </p>
  
                <a class="btn btn-danger rounded-pill project-modal-dismiss" href="#">
                  <i class="fas fa-times"></i>
                  CLOSE
                </a>
  
              </div>
            </div>
          </div>
  
        </div>
      </div>
      <!-- project 4 info end -->
  
      <!-- project 5 info start -->
      <div class="project-modal mfp-hide mfp-with-anim" id="project-modal-5">
        <div class="project-modal-dialog bg-white">
  
          <a class="close-button d-none d-md-block project-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
          </a>
  
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
  
                <h2 class="text-uppercase mb-0">Student Enrolment System</h2>
  
                <hr class="mb-2">
  
                <img class="img-fluid mb-5 project-modal-img" src="public/images/project-images/project-5-image.png" alt="">
  
                <p class="mb-3">
                  A content management system built for school administrative representatives. It can track student records, make corrections and provides security to all information.
                </p>
  
                <p class="mb-5">
                  <b class="text-uppercase">Project Link: </b><a class="new-tab-open" href="https://github.com/mahmudul-hasan-sreejon/Student-Enrolment-System" style="text-decoration: none">Student Enrolment System</a>
                  <b class="text-uppercase">Date: </b>August 2016 - September 2016
                </p>
  
                <a class="btn btn-danger rounded-pill project-modal-dismiss" href="#">
                  <i class="fas fa-times"></i>
                  CLOSE
                </a>
  
              </div>
            </div>
          </div>
  
        </div>
      </div>
      <!-- project 5 info end -->
    
      <!-- project 6 info start -->
      <div class="project-modal mfp-hide mfp-with-anim" id="project-modal-6">
        <div class="project-modal-dialog bg-white">
  
          <a class="close-button d-none d-md-block project-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
          </a>
  
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
  
                <h2 class="text-uppercase mb-0">Block Breakout</h2>
  
                <hr class="mb-2">
  
                <img class="img-fluid mb-5 project-modal-img" src="public/images/project-images/project-6-image.png" alt="">
  
                <p class="mb-3">
                  It is a clone of the classic <b>Breakout</b> game. I hand coded each module i.e. player movements, interaction with other game objects and events etc. Also, designed arts and animations to deliver a great playable environment.
                </p>
  
                <p class="mb-5">
                  <b class="text-uppercase">Project Link: </b><a class="new-tab-open" href="https://github.com/mahmudul-hasan-sreejon/Block-Breakout" style="text-decoration: none">Block Breakout</a>
                  <b class="text-uppercase">Date: </b>January 2019 - March 2019
                </p>
  
                <a class="btn btn-danger rounded-pill project-modal-dismiss" href="#">
                  <i class="fas fa-times"></i>
                  CLOSE
                </a>
  
              </div>
            </div>
          </div>
  
        </div>
      </div>
      <!-- project 6 info end -->
  
      <!-- all project info end -->