      <!-- projects section start -->
      <section class="resume-section p-3 p-lg-5 d-flex flex-column project" id="projects">
        <div class="my-auto">

          <h2 class="mb-5">Projects</h2>

          {% import 'macros/projects.njk' as project %}
          <div class="row">
            {{project.projectField(projectsSection[0].id, projectsSection[0].image)}}
            {{project.projectField(projectsSection[1].id, projectsSection[1].image)}}
          </div>

          <div class="row">
            {{project.projectField(projectsSection[2].id, projectsSection[2].image)}}
            {{project.projectField(projectsSection[3].id, projectsSection[3].image)}}
          </div>

          <div class="row">
            {{project.projectField(projectsSection[4].id, projectsSection[4].image)}}
            {{project.projectField(projectsSection[5].id, projectsSection[5].image)}}
          </div>

        </div>
      </section>
      <!-- projects section end -->