      <!-- projects section start -->
      <section class="resume-section p-3 p-lg-5 d-flex flex-column project" id="projects">
        <div class="my-auto">
  
          <h2 class="mb-5">Projects</h2>
  
  
          <!-- project field 1 and 2 start -->
          <div class="row">
            <div class="col-md-6 col-lg-6">
  
              <a class="project-item d-block mx-auto" href="#project-modal-1" data-effect="mfp-zoom-out">
                <div class="project-item-caption d-flex position-absolute h-100 w-100">
                  <div class="project-item-caption-content my-auto w-100 text-center text-white">
                    <i class="fas fa-search-plus fa-3x"></i>
                  </div>
                </div>
  
                <img class="img-fluid" src="public/images/project-images/project-1-image.png">
              </a>
  
            </div>
  
  
            <div class="col-md-6 col-lg-6">
  
              <a class="project-item d-block mx-auto" href="#project-modal-2" data-effect="mfp-zoom-out">
                <div class="project-item-caption d-flex position-absolute h-100 w-100">
                  <div class="project-item-caption-content my-auto w-100 text-center text-white">
                    <i class="fas fa-search-plus fa-3x"></i>
                  </div>
                </div>
  
                <img class="img-fluid" src="public/images/project-images/project-2-image.png">
              </a>
  
            </div>
          </div>
          <!-- project field 1 and 2 end -->
  
  
          <!-- project field 3 and 4 start -->
          <div class="row">
            <div class="col-md-6 col-lg-6">
  
              <a class="project-item d-block mx-auto" href="#project-modal-3" data-effect="mfp-zoom-out">
                <div class="project-item-caption d-flex position-absolute h-100 w-100">
                  <div class="project-item-caption-content my-auto w-100 text-center text-white">
                    <i class="fas fa-search-plus fa-3x"></i>
                  </div>
                </div>
  
                <img class="img-fluid" src="public/images/project-images/project-3-image.png">
              </a>
  
            </div>
  
  
            <div class="col-md-6 col-lg-6">
  
              <a class="project-item d-block mx-auto" href="#project-modal-4" data-effect="mfp-zoom-out">
                <div class="project-item-caption d-flex position-absolute h-100 w-100">
                  <div class="project-item-caption-content my-auto w-100 text-center text-white">
                    <i class="fas fa-search-plus fa-3x"></i>
                  </div>
                </div>
  
                <img class="img-fluid" src="public/images/project-images/project-4-image.png">
              </a>
  
            </div>
          </div>
          <!-- project field 3 and 4 end -->
  
  
          <!-- project field 5 and 6 start -->
          <div class="row">
            <div class="col-md-6 col-lg-6">
  
              <a class="project-item d-block mx-auto" href="#project-modal-5" data-effect="mfp-zoom-out">
                <div class="project-item-caption d-flex position-absolute h-100 w-100">
                  <div class="project-item-caption-content my-auto w-100 text-center text-white">
                    <i class="fas fa-search-plus fa-3x"></i>
                  </div>
                </div>
  
                <img class="img-fluid" src="public/images/project-images/project-5-image.png">
              </a>
  
            </div>
  
  
            <div class="col-md-6 col-lg-6">
  
              <a class="project-item d-block mx-auto" href="#project-modal-6" data-effect="mfp-zoom-out">
                <div class="project-item-caption d-flex position-absolute h-100 w-100">
                  <div class="project-item-caption-content my-auto w-100 text-center text-white">
                    <i class="fas fa-search-plus fa-3x"></i>
                  </div>
                </div>
  
                <img class="img-fluid" src="public/images/project-images/project-6-image.png">
              </a>
  
            </div>
          </div>
          <!-- project field 5 and 6 end -->
  
        </div>
      </section>
      <!-- projects section end -->
