      <!-- about section start -->
      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          
          <!-- about section user info start -->
          <h1 class="mb-0" style="font-size:75px">Mahmudul Hasan <span class="text-primary">Sreejon</span></h1>
  
          <div class="subheading mb-5">364/8 Senpara, Mirpur 10, Dhaka 1216, Bangladesh | (+880) 1670115309 |
            <a href="mailto:mahmudul.hasan.sreejon@gmail.com" style="text-decoration:none">mahmudul.hasan.sreejon@gmail.com</a>
          </div>
          <!-- about section user info end -->
  
  
          <!-- about section user overview start -->
          <ul class="fa-ul lead mb-5">
            <li>
              <i class="fa-li fa fa-angle-double-right text-warning"></i>
              Inquisitive, energetic B.Sc. (Hons) graduate offering a strong foundation in software engineering and programming principals across multiple platforms
            </li>
            <li>
              <i class="fa-li fa fa-angle-double-right text-warning"></i>
              Experienced on writing highly maintainable and robust object-oriented code
            </li>
            <li>
              <i class="fa-li fa fa-angle-double-right text-warning"></i>
              Adapted at developing, designing, testing, debugging and installing software solutions while evaluating system feasibility
            </li>
            <li>
              <i class="fa-li fa fa-angle-double-right text-warning"></i>
              Passion for programming and ability to learn new technologies
            </li>
            <li>
              <i class="fa-li fa fa-angle-double-right text-warning"></i>
              Successful working experience in both team and self-directed settings
            </li>
          </ul>
          <!-- about section user overview start -->
  
  
          <!-- about section user contact start -->
          <div class="social-icons">
            <a href="https://www.linkedin.com/in/mahmudul-hasan-sreejon" class="mb-1 new-tab-open">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://www.github.com/mahmudul-hasan-sreejon" class="mb-1 new-tab-open">
              <i class="fab fa-github"></i>
            </a>
            <a href="https://web.facebook.com/mahmudul.hasan.sreejon" class="mb-1 new-tab-open">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/mahmudul.hasan.sreejon/" class="mb-1 new-tab-open">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://twitter.com/sreejonK19" class="mb-1 new-tab-open">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
          <!-- about section user contact start -->
  
        </div>
      </section>
      <!-- about section end -->