      <!-- footer start -->
      <footer class="bg-dark resume-section p-3">
        <div class="my-auto">
          <div class="text-center text-light ">
              All contents copyright &copy; 2017 - <script>document.write(new Date().getFullYear())</script> |
              Mahmudul Hasan |
              Theme by <b><a class="new-tab-open" href="https://startbootstrap.com/" style="text-decoration:none">Start Bootstrap</a></b>
          </div>
        </div>
      </footer>
      <!-- footer end -->
