      <!-- interests section start -->
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        <div class="my-auto">
          <h2 class="mb-5">Interests</h2>
  
  
          <p>Apart from being a software developer, I enjoy most of my time being outdoors. I love to travel and experience new cultures and their cuisines. I love eating.</p>
  
          <p>When forced indoors, I follow a number of drama, sci-fi and fantasy genre movies and television shows. I am an aspiring chef. Video games hold a special place in my heart. I like playing RPG games such as <b>The Witcher 3: Wild Hunt.</b></p>
            
          <p>I spend a large amount of my free time exploring the latest technology advancements in the back-end web development world.</p>
  
          <p class="mb-0">Budgeting my time and organize projects using various productive tools are my favorite things to do, this speeds up my workflow and ultimately make me a productive person in my daily life.</p>
  
        </div>
      </section>
      <!-- interests section end -->
