      <!-- skills section start -->
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">

          <h2 class="mb-5">Skills</h2>


          {% for field in skillsSection %}
          <div class="subheading mb-3">{{field.fieldName}}</div>
          <ul class="list-inline dev-icons">
            {% for skill in field.skills %}
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="{{skill.title}}">
                <i class="{{skill.icon}}"></i>
              </span>
            </li>
            {% endfor %}
          </ul>
          {% endfor %}


          {#
          <!-- skills field 6 start -->
          <div class="subheading mb-3">Game Engine</div>
          <ul class="list-inline dev-icons">
  
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="Unity">
                <i class="icon-unity"></i>
              </span>
            </li>
  
          </ul>
          <!-- skills field 6 end -->
          #}

        </div>
      </section>
      <!-- skills section end -->
