      <!-- skills section start -->
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
  
          <h2 class="mb-5">Skills</h2>
  
  
          <!-- skills field 1 start -->
          <div class="subheading mb-3">Programming Language</div>
          <ul class="list-inline dev-icons">
  
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="C">
                <i class="icon-c"></i>
              </span>
            </li>
  
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="C++">
                <i class="icon-cplusplus"></i>
              </span>
            </li>
  
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="C#">
                <i class="icon-csharp"></i>
              </span>
            </li>
  
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="Python">
                <i class="fab fa-python"></i>
              </span>
            </li>
  
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="JavaScript">
                <i class="fab fa-js"></i>
              </span>
            </li>
  
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="PHP">
                <i class="fab fa-php"></i>
              </span>
            </li>
  
          </ul>
          <!-- skills field 1 end -->
  
  
          <!-- skills field 2 start -->
          <div class="subheading mb-3">Framework / Library</div>
          <ul class="list-inline dev-icons">
            
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="Bootstrap">
                <i class="icon-bootstrap"></i>
              </span>
            </li>
  
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="Flask">
                <i class="fas fa-flask"></i>
              </span>
            </li>
  
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="Kivy">
                <i class="fab fa-android"></i>
              </span>
            </li>
  
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="Laravel">
                <i class="icon-laravel"></i>
              </span>
            </li>
  
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="jQuery">
                <i class="icon-jquery"></i>
              </span>
            </li>
  
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="Express.js">
                <i class="fab fa-etsy"></i>
              </span>
            </li>
  
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="MeteorJS">
                <i class="fas fa-meteor"></i>
              </span>
            </li>
  
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="React">
                <i class="fab fa-react"></i>
              </span>
            </li>
  
          </ul>
          <!-- skills field 2 end -->
  
  
          <!-- skills field 3 start -->
          <div class="subheading mb-3">Wed Technology</div>
          <ul class="list-inline dev-icons">
  
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="HTML5">
                <i class="fab fa-html5"></i>
              </span>
            </li>
  
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="CSS3">
                <i class="fab fa-css3-alt"></i>
              </span>
            </li>

            <li class="list-inline-item">
              <span data-toggle="tooltip" title="Sass">
                <i class="fab fa-sass"></i>
              </span>
            </li>
  
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="AJAX">
                <i class="fas fa-retweet"></i>
              </span>
            </li>
  
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="Node.js">
                <i class="fab fa-node"></i>
              </span>
            </li>
  
          </ul>
          <!-- skills field 3 end -->
  
  
          <!-- skills field 4 start -->
          <div class="subheading mb-3">Database Management System</div>
          <ul class="list-inline dev-icons">
  
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="MySQL">
                <i class="icon-mysql"></i>
              </span>
            </li>
  
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="PostgreSQL">
                <i class="icon-postgres"></i>
              </span>
            </li>
  
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="SQLite">
                <i class="fas fa-database"></i>
              </span>
            </li>
  
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="MongoDB">
                <i class="icon-mongodb"></i>
              </span>
            </li>
  
          </ul>
          <!-- skills field 4 end -->
  
  
          <!-- skills field 5 start -->
          <div class="subheading mb-3">Development Tool</div>
          <ul class="list-inline dev-icons">
  
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="GitHub">
                <i class="fab fa-github"></i>
              </span>
            </li>

            <li class="list-inline-item">
              <span data-toggle="tooltip" title="GitLab">
                <i class="fab fa-gitlab"></i>
              </span>
            </li>
  
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="Docker">
                <i class="fab fa-docker"></i>
              </span>
            </li>
  
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="Slack">
                <i class="fab fa-slack"></i>
              </span>
            </li>
  
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="Trello">
                <i class="fab fa-trello"></i>
              </span>
            </li>

            <li class="list-inline-item">
              <span data-toggle="tooltip" title="Gulp">
                <i class="fab fa-gulp"></i>
              </span>
            </li>

            <li class="list-inline-item">
              <span data-toggle="tooltip" title="Webpack">
                <i class="fas fa-cube"></i>
              </span>
            </li>
  
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="Heroku">
                <i class="icon-heroku"></i>
              </span>
            </li>
  
          </ul>
          <!-- skills field 5 end -->
  
  
          <!-- skills field 6 start -->
          <div class="subheading mb-3">Game Engine</div>
          <ul class="list-inline dev-icons">
  
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="Unity">
                <i class="icon-unity"></i>
              </span>
            </li>
  
          </ul>
          <!-- skills field 6 end -->
  
  
          <!-- skills field 7 start -->
          <div class="subheading mb-3">Text Editor &amp; IDE</div>
          <ul class="list-inline dev-icons">
  
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="VS Code">
                <i class="fas fa-file-code"></i>
              </span>
            </li>
  
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="Sublime Text">
                <i class="fab fa-stripe-s"></i>
              </span>
            </li>
  
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="CodeBlocks">
                <i class="fas fa-qrcode"></i>
              </span>
            </li>
  
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="Rider">
                <i class="fas fa-motorcycle"></i>
              </span>
            </li>
  
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="PyCharm">
                <i class="fas fa-terminal"></i>
              </span>
            </li>
  
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="WebStorm">
                <i class="fas fa-poo-storm"></i>
              </span>
            </li>
  
          </ul>
          <!-- skills field 7 end -->
  
  
          <!-- skills field 8 start -->
          <div class="subheading mb-3">Software &amp; Tool</div>
          <ul class="list-inline dev-icons">
  
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="Adobe Photoshop">
                <i class="fab fa-adobe"></i>
              </span>
            </li>
  
            <li class="list-inline-item">
              <span data-toggle="tooltip" title="Microsoft Office">
                <i class="fab fa-microsoft"></i>
              </span>
            </li>
  
          </ul>
          <!-- skills field 8 end -->
  
        </div>
      </section>
      <!-- skills section end -->
