<!DOCTYPE html>
<html lang="en">
{% include 'head.njk' %}


<body id="page-top">
  {% block content %}
  {% endblock %}


  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery-3.3.1/jquery.min.js"></script>
  <script src="vendor/bootstrap-4.1.3/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/anime.js-3.0.1/anime.min.js"></script>
  <script src="vendor/jquery-easing-1.4.1/jquery.easing.min.js"></script>
  <script src="vendor/magnific-popup-1.1.0/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="public/scripts/resume.min.js"></script>
</body>
</html>